/* src/components/NavBar/NavBar.css */

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--b-bg-2);
  border-bottom: 1px solid var(--b-line);
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--b-txt);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: var(--b-txt);
  font-weight: 500;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--b-link);
}